@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    font-family: 'Roboto', sans-serif;
    /* width: 100vw; */
}

header {
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 12px;
    padding: 24px;
}

.content {
    width: 100%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__label {
    font-weight: normal;
}

.project__link {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -2px;
    
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    display: flex;
    justify-content:center;
    align-items: center;
}

.project__image {
    width: 100%;
}

.project__link:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    position: relative;
    top:100px;
}

.footer__text {
    margin: 0;
}

.footer__image {
    width: 32px;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer__image:hover {
    transform: rotate(225deg) scale(1.2);
}