@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 24px;
    font-weight: bold;
}

.content {
    margin-top: 15px;
}

.projects {
    display: flex;
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project__label {
    font-size: 20px;
}

.project__image {
    width: 200px;

    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -2px;
    
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.project__image:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    min-height: calc(100vh - 100px);
}

.footer__text {
    margin: 0;
}

.footer__image {
    width: 32px;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer__image:hover {
    transform: rotate(225deg) scale(1.2);
}