@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --p1-color: rgba(1, 111, 185, 1);
    --p2-color: rgba(230, 15, 76, 1);
    --p1-marker: "X";
    --p2-marker: "O";
    --board-size: 4;

    --active-color: var(--p1-color);
    --active-marker: var(--p1-marker);

    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    grid-template: 100px minmax(300px, 500px) 100px / minmax(400px, 1fr);
    gap: 50px;
    height: 100vh;
    width: 100vw;
    min-height: 400px;
    min-width: 700px;
    align-content: center;
    justify-items: center;
}

/* ------------------------------------ */
/* --------------- Header ------------- */
/* ------------------------------------ */
header {
    display: flex;
    align-items: center;
    font-size: 60px;
}

.word:nth-child(n+2) {
    text-indent: 1rem;
}

.word:nth-child(odd):first-letter {
    color: var(--p1-color);
}

.word:nth-child(even):first-letter {
    color: var(--p2-color);
}

/* ------------------------------------ */
/* --------------- Content ------------ */
/* ------------------------------------ */
.content {
    display: grid;
    grid-template: minmax(150px, 100%) / minmax(150px, 100%);
    justify-items: center;
}

.board {
    display: grid;
    grid-template: repeat(var(--board-size), minmax(50px, 1fr)) / repeat(var(--board-size), minmax(50px, 1fr));
    aspect-ratio: 1 / 1;
}

.cell {
    border-top: solid black;
    border-left: solid black;
    box-sizing: border-box;
    font-size: 72px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.cell[data-col='0'] {
    border-left: none;
}

.cell[data-row='0'] {
    border-top: none;
}

.empty:hover {
    color: var(--active-color);
    opacity: 0.5;
}

.empty:hover:after {
    content: var(--active-marker);
}

.empty:active {
    color: var(--active-color);
    opacity: 1.0;
}

.cell.p1 {
    color: var(--p1-color);
}

.cell.p2 {
    color: var(--p2-color);
}

/* ------------------------------------ */
/* --------------- Footer ------------- */
/* ------------------------------------ */
.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
}

.footer__text {
    text-align: center;
    margin: 0;
}

.footer__image {
    width: 32px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer__image:hover {
    transform: rotate(360deg) scale(1.2);
}