:root{
    --screen: 360px;
    --border: 1px;
    --padding: 10px;
}

.content,
.display,
.firstRow,
.firstRow *,
.keys,
.keys * {
    border: solid var(--border) black;
    box-sizing: border-box;
}

body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: min-content;
    height: min-content;
    padding: 16px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--padding));

    box-shadow: 5px 5px;
}

.misc,
.display,
.firstRow,
.keys {
    width: calc(var(--screen));
}

.misc {
    display: flex;
    justify-content: space-between;
}

.misc__name {
    margin: 0 2px;
}

.misc__panels {
    display: flex;
    align-items: center;
}

.misc__panel {
    width: 16px;
    height: 16px;
    margin: 0 2px;
    border: solid var(--border) black;
}

.display {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding);
    margin-bottom: var(--padding);
}

.display__history,
.display__result {
    width: calc(var(--screen) - var(--padding));
    /* padding: 5px 29px; */
    /*     height: 32px; */
}

.backspace {
    float: right;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 10px;
}

.key {
    width: calc(var(--screen) / 4 - var(--padding));
    height: 40px;
    
    background: none;
    cursor: pointer;
}

.key:hover {
     background-color: lightgray;   
}

.key:active {
    background-color: gray;
}