:root{
    --screen: 400px;
    --border: 1px;
}

.content,
.content *{
    border: solid var(--border) black;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    width: min-content;
    padding: 16px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.display {
    width: var(--screen);
    text-align: right;
}

.display__history,
.display__active {
    padding: 2px 8px 2px 0;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: calc(var(--screen) / 4 - var(--border));
    height: 40px;
    padding: 0;
    
    background: none;
    cursor: pointer;
}

.button:hover {
     background-color: lightgray;   
}

.button:active {
    background-color: gray;
}