body {
    margin: 0;
    padding: 0;
}

.block {
    display: inline-block;
    width: 5%;
    height: auto;
    margin: 0.625%;
    
    box-sizing: border-box;
    border: solid thin black;

    text-align: center;
}
