:root {
    --primary-light: #FFEBD6;
    --primary-dark: #292929;
    --secondary: #BA5A31;

    --canvas-size: 480px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: var(--primary-light);

    font-family: 'Roboto';
    color: var(--primary-dark);
}

/* Header */
.header__text {
    margin: 0;
    padding: 20px;
    font-size: 72px;
}

/* Content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Color and Opacity Settings */
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.settings__colorWrapper {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: var(--primary-dark);
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 var(--primary-dark);
}

.settings__color {
    width: 64px;
    height: 64px;
    opacity: 0;
}

.settings__opacityWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__opacity {
    appearance: none;
    /* Override default look */
    height: 12px;
    background-image: linear-gradient(to right, white, var(--primary-dark));
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 var(--primary-dark);
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.settings__opacity::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 10px;

    background: var(--primary-dark);
    cursor: pointer;
}

/* Tools */
.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tools__button {
    width: 100px;
    background-color: white;
    border: solid 4px var(--secondary);
    box-shadow: 2px 2px 5px 0 var(--primary-dark);
    cursor: pointer;
}

.tools__image {
    width: 32px;
}

/* Grid Size Controls */
.gridSizeSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridSizeSlider__label {
    margin: 0;
    font-size: 18px;
}

.gridSizeSlider__value {
    appearance: none;
    /* Override default look */
    height: 12px;
    background-image: linear-gradient(to right, white, var(--secondary));
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0 var(--primary-dark);
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.gridSizeSlider__value::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 10px;

    background: var(--primary-dark);
    box-shadow: 1px 1px 1px 0 var(--primary-dark);
    cursor: pointer;
}

/* Actual Drawing Canvas */
.canvas {
    width: var(--canvas-size);
    height: var(--canvas-size);
    background-color: white;
    border: solid thick var(--secondary);
}

/* Single Drawing Block */
.block {
    float: left;
    text-align: center;
    background-color: var(--primary-dark);
    opacity: 0.0;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px;
    font-size: 20px;
}

.footer__text {
    margin: 0;
}

.footer__image {
    width: 32px;
}

/* Transition Animations */
.tools__button,
.settings__color,
.settings__colorWrapper,
.settings__opacity::-webkit-slider-thumb,
.gridSizeSlider__value::-webkit-slider-thumb {
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.tools__button:hover ,
.settings__colorWrapper:hover,
.settings__opacity::-webkit-slider-thumb:hover,
.gridSizeSlider__value::-webkit-slider-thumb:hover {
  transform: scale(1.10);
}

.footer__image {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer__image:hover {
    transform: rotate(360deg) scale(1.2);
}