@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --darkgray: #202020;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
}

header {
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    color: var(--darkgray);
    box-shadow: 0 2px 2px  lightgrey;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    width: 48px;
    position: relative;
    bottom: 11px;
    padding-right: 11px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    
    padding: 20px;
}

.book,
.addBookButton {
    border: solid 2px var(--darkgray);
    border-radius: 8px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.book.read {
    background-color: #cefad0;
}

.book__title,
.book__author,
.book__pages {
    padding: 2px;
}

.book__title {
    margin: 8px 0;
    font-size: 24px;
}

.book__author {
    color: var(--darkgray);
}

.book__pages::after {
    content: ' p.';
}

.removeBookButton {
    width: 100px;
    height: 32px;
    margin: 15px 0 5px 0px;
    border: solid thin black;
    border-radius: 2px;
    background: none;
    cursor: pointer;
}

.removeBookButton:hover {
    background: lightgray;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px;
    font-size: 20px;
    justify-content: center;
}

.footer__text {
    margin: 0;
}

.footer__image {
    width: 32px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.footer__image:hover {
    transform: rotate(360deg) scale(1.2);
}