body {
    display: flex;
    margin: 0;
    height: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text {    
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.header {
    text-align: center;
    font-family: "Roboto";
}

.header p {
    font-size: 20px;
    padding: 0 50px;
}

.buttons button {
    background: white;
    border: thick solid;
    margin: 16px;
}

.buttons button img {    
    width: 128px;
}

.result {
    display: flex;
    gap: 50px;
}

.lastRound {
    width: 50%;
    border-top: solid black;
    border-bottom: solid black;
    text-align: center;
    padding: 8px;
}

.newGameButton {
    background: white;
    border: 2px solid;
    padding: 16px;
    margin: 16px;
    
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.playerScoreBlock,
.computerScoreBlock {
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.playerScoreBlock_element,
.computerScoreBlock_element {
    width: 20px;
    height: 20px;
    border: solid black;
}